.App {
  font-family: sans-serif;
  text-align: center;
  border: 3px double pink;
  background-color: whitesmoke;
  background-size: 3em;
  padding: 0 3% 0 3%;
  margin: 10%;
}

body {
  background-color: coral;
}